.modal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20px;
    transform: translate(-50%, -50%);
    width: 1200px;
    max-width: 80%;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 800;


    .btnClose {
        background-color: #960304;
        color: #fbfbfb;
        padding: 3px 20px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        font-weight: bold;
        h1{
            font-size: 1.6rem;
        }
    }

    .title {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;

        h2 {
            font-weight: bold;
        }
    }


    .inner-content {
        display: flex;
        width: 100%;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}