.wrapper {
    margin-top: 12%;
    min-height: 100vh;
}


.titlle-allsale{
    margin: 20px 0;
    text-align: center;
    border-bottom: 1px solid #333;
    h5{
        font-size: 1.8rem;
        font-weight: 700;
    }
}
.product-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;
        
    .outStock{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10% 50%;
        width: 100%;

        p{
            font-weight: 600;
            font-size: 1.4rem;
        }
        img{
            width: 320px;
            height: 320px;
            opacity: 0.6;
        }
    }
}
