.wrapper {
    margin: 90px 0 ;
    width: 100%;
    padding-top: 50px;
}
.slide{
    width: 100%;
    background-color: rgb(203, 202, 202);
    .silde-price{
        padding: 10px;  
        width: 100%;
        background-color: rgb(203, 202, 202);
        .tittle-price{
            background-color: #333;
            color: yellow;
            text-align: center;
            padding: 5px;
            border-radius: 5px;
        }
        .content-price{
            display: flex;
            flex-direction: column;
            width: 100%;
            .label-price{
                margin: 10px;
                justify-content: center;
                align-items: center;
                font-size: 10px;
            }
            .btn-filter{
                background-color: #FFD496;
                justify-content: center;
                font-weight: bold;
                padding: 3px;
                border-radius: 5px;
            }
        }
    }
    
}
.label-price{
    font-size: 12px;
}

.formSelectPrice{
    input{
        cursor: pointer;
    }

    label{
        cursor: pointer;
    }
}
.sidebar {
    background-color: #fff;
    padding: 10px;
    font-size: 1.4rem;
    border: 1px solid #333;

    h4 {
        margin-bottom: 15px; // Khoảng cách dưới cho tiêu đề
    }

    div {
        margin-bottom: 10px; // Khoảng cách giữa các mục
    }

    label {
        display: flex;
        align-items: center;

        input {
            margin-right: 10px; // Khoảng cách giữa input và text
        }
    }
}

.formCategory{
    margin-top: 10px;

    input{
        cursor: pointer;
    }

    label{
        cursor: pointer;
    }
}