.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-register {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 550px;
    width: 100%;
    text-align: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .btn-closeform {
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: transparent;
        font-size: 2.2rem;
        font-weight: 500;
        transition: all .1s linear;

        &:hover {
            color: #ff0000;
        }
    }

    .title {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .form-input {
        display: flex;
        flex-direction: column;

        label {
            text-align: start;
            margin-left: 10px;
            font-size: 1.4rem;
        }

        .input {
            padding: 6px 10px;
            border-radius: 5px;
            border: 1px solid black;
            font-size: 1.6rem;
        }
    }

    .form-input-contact {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .form-input {
            width: 49%;
        }
    }
}

.input-styles {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
}

.City {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .Input-City {
        width: 30%;
        @extend .input-styles;
    }

    .Input-District {
        width: 30%;
        @extend .input-styles;
    }

    .Input-Ward {
        width: 30%;
        @extend .input-styles;
    }
}

.form-btn {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .btn-register {
        padding: 10px;
        font-size: 1.6rem;
        border-radius: 10px;
        background-color: var(--primaryBold);
        color: #ffff;
        font-weight: bold;
        transition: all .1s linear;

        &:hover {
            &:hover {
                background-color: rgb(255, 53, 103);
            }
        }
    }

    .btn-login {
        background-color: transparent;
        font-size: 1.5rem;

        button {
            background-color: transparent;
            color: var(--TextPrimary);
            margin-left: 5px;
            font-weight: 600;
        }
    }
}