.modal {
    max-width: 600px;
    margin: 0 auto;
}

.modal-content {
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
}