.subHeader {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #FFE9E8;
}

.menu-header {
  width: 100%;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  padding: 10px;
  height: 100%;

}

.menu-item {
  margin: 0 20px;
  font-size: 16px;

  a {
    position: relative;
    color: #333;
    text-decoration: none;
    font-weight: bold;


    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 3px;
      background-color: #333;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.menu-item:hover {
  border-radius: 4px;
}