.wrapper {
    background-color: #ffffff;
    min-height: 100vh;
}

.order-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #333;

    button {
        background-color: transparent;
        color: #fff;
        font-size: 1.4rem;
        padding: 5px 10px;
        transition: all .1s linear;
        border-radius: 999px;

        &:hover {
            background-color: #fff;
            color: #333;
            font-weight: 600;
        }
    }

    .active {
        background-color: #fff;
        color: #333;
        font-weight: 600;
    }
}

.order-content {
    height: 90vh;
    padding: 10px;

    .list-order {
        height: 100%;
        padding: 10px;
        overflow-y: auto;

        @extend .customer-scrollbar;
    }
}

.customer-scrollbar {
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}