.wrapper {
    padding-top: 100px;
    min-height: 100vh;
    margin-top: 80px;
}

.customer-scrollbar {
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}



.section__des {
    margin: 40px 0;

    .des-title {
        font-size: 1.4rem;
    }

    .des-content {
        padding-right: 25px;

        p {
            text-align: justify;
            font-size: 1.5rem;
        }

        .des__btn-more {
            display: flex;
            justify-content: center;
            width: 100%;

            button {
                background-color: transparent;
                color: var(--TextPrimary);
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }

    .col-voucher {
        @extend .customer-scrollbar;
        position: relative;
        height: 430px;
        overflow-y: auto;

        // .voucher-content {
        //     position: relative;
        //     height: 100%;
        //     padding-bottom: 50px;
        // }
    }
}

.section__feedback{
    margin: 40px 0;
    h3{
        font-size: 4rem;
        font-family: 'Times New Roman', Times, serif;
        color: #960304;
        text-align: center;
    }
    .col-feedback{
        padding: 30px;
    }
    .col-star{
        padding: 30px;
        
        .star-rating {
            width: 100%;
            display: flex;
            flex-direction: column;

            .star-rating-header {
            display: flex;
            align-items: center;
            gap: 10px;
            }

            .average-rating {
            font-size: 5rem;
            color: #f5a623;
            font-weight: bold;
            }

            .stars {
            display: flex;
            font-size: 4.5rem;
            color: #f5a623;
            }

            .half-star {
            color: #f5a623;
            position: relative;
            display: inline-block;
            overflow: hidden;
            width: 1.2em;
            }

            .total-reviews {
            font-size: 2.2rem;
            color: #3922d1;
            }

            .star-breakdown {
            margin-top: 10px;
            }

            .star-row {
            display: flex;
            font-size: 2.2rem;
            align-items: center;
            gap: 10px;
            }

            .bar {
            background-color: #ddd;
            width: 300px;
            height: 10px;
            position: relative;
            }

            .filled-bar {
            background-color: #f5a623;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            }
        }
    }
}