@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&display=swap');

.Wrapper {
  width: 100%;
  position: fixed;
  z-index: 99;
  transition: all 1s linear;

  &.scrolled {
    .header__top {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 1s linear, height 1s linear;
    }

    .header__bottom {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--primary);
      z-index: 100;
      // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .sub__header{
      position: fixed;
      top: 7.8%;
      left: 0;
      right: 0;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    z-index: 1000;

    &.open {
      left: 0;
    }

    .closeButton {
      background: none;
      border: none;
      color: var(--text);
      font-size: 2em;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }

  .menuButton {
    background: none;
    border: none;
    color: var(--text);
    font-size: 2em;
    cursor: pointer;
    display: none;

    @media (max-width: 1024px) {
      display: block;
    }
  }
}

.header__top {
  height: 50px;
  width: auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.header__bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--primary);
  // padding: 3px 0;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

    img {
      width: 150px;
      height: 100%;
      // mix-blend-mode: darken;
    }

    h1 {
      font-family: "Lobster", sans-serif;
      color: #333;
    }
  }

  .form-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    .input-container {
      position: relative;
      width: 100%;

      .input-search {
        width: 100%;
        padding: 6px 30px 6px 20px;
        border: none;
        border-radius: 999px;
        font-size: 1.6rem;
        line-height: 1;
      }

      .icon-search {
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        font-size: 1.6rem;
      }
    }
  }

  .action {
    display: flex;
    align-items: center;
    width: 20%;
    padding: 10px 0;

    .well-come{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .greeting{
        font-size: 1.4rem;
      }
    }

    .user-name{
      line-height: 1;
      margin: 0;
      font-size: 1.4rem;
      font-weight: 700;
      color: #272727;
      cursor: pointer;
    }

    .style-btn {
      padding: 5px 10px;
      font-size: 1.6rem;
      color: #333;
      height: auto;
      background-color: var(--primaryBold);
      border-radius: 999px;
      margin-right: 10%;

      &:hover {
        background-color: #FAA8A5;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      span {
        margin-left: 5px;
        font-weight: 600;
      }
    }

    .btn-cart {
      @extend .style-btn;
      position: relative;

      .icon-cart{
        margin-right: 5px;
      }

      .cart-count{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -5px;
        right: -5px;
        background-color: #ff3a3a;
        padding: 2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;

      }
    }

    .btn-user {
      @extend .style-btn;

      span,
      .icon-login {
        cursor: pointer;
      }
    }

  }
}

.sub__header{
  width: 100%;
}


// Media queries cho responsive
@media (max-width: 1024px) {
  .Wrapper {
    flex-direction: row;
    height: auto;
  }

  .navigationBar ul li {
    display: none;
  }

  .loginContainer .icon {
    display: none;
  }

  .Logo img {
    display: none;
  }

  .menuButton {
    display: block;
  }
}